<?xml version="1.0" encoding="utf-8"?>
<AcisSMEConfiguration >
	<!-- env: Int -->
	<SMEEndpoints>	
		<Endpoint>
			<Name>INT_tm_dl_idm</Name>
			<EndpointType>Standard</EndpointType>
			<Url>https://idminteusaks.int.datalabs.core.windows.net/</Url>
			<SMEConfig />
			<DstsDelegatedAuth>
				<ServiceName>GenevaAction</ServiceName>
			</DstsDelegatedAuth>
			<Swagger>
				<FilePath>swagger_DataLabs.json</FilePath>
			</Swagger>
			<TargetBoundary>Global</TargetBoundary>
		</Endpoint>
		<Endpoint>
			<Name>INT_tm_dl_rf</Name>
			<EndpointType>Standard</EndpointType>
			<Url>https://rfinteusaks.int.datalabs.core.windows.net/</Url>
			<SMEConfig />
			<DstsDelegatedAuth>
				<ServiceName>GenevaAction</ServiceName>
			</DstsDelegatedAuth>
			<Swagger>
				<FilePath>swagger_DataLabs.json</FilePath>
			</Swagger>
			<TargetBoundary>Global</TargetBoundary>
		</Endpoint>
	</SMEEndpoints>
	<SMEConfig/>
	<ContactInfo>
		<ContactEmailAddress>arbtm@microsoft.com</ContactEmailAddress>
		<IcmService>Azure Resource Notifications</IcmService>
		<IcmTeam>Azure Resource Builder</IcmTeam>
		<ServiceTreeServiceId>ce93fb1b-91b9-49ae-bc36-1dcf1af57296</ServiceTreeServiceId>
	</ContactInfo>
	<ApiGatewayConfig>
		<Swagger>
			<FilePath>swagger_empty.json</FilePath>
		</Swagger>
	</ApiGatewayConfig>
</AcisSMEConfiguration>