<?xml version="1.0" encoding="utf-8"?>
<AcisSMEConfiguration >
	<SMEEndpoints>
		<Endpoint>
			<Name>EUS2EUAP_tm_dl_idm</Name>
			<EndpointType>Standard</EndpointType>
			<Url>https://idmcanaryecyaks.prod.datalabs.core.windows.net/</Url>
			<SMEConfig />
			<DstsDelegatedAuth>
				<ServiceName>GenevaAction</ServiceName>
			</DstsDelegatedAuth>
			<Swagger>
				<FilePath>swagger_DataLabs.json</FilePath>
			</Swagger>
			<TargetRegion>East US 2 EUAP</TargetRegion>
		</Endpoint>
		<Endpoint>
			<Name>SEA_tm_dl_idm</Name>
			<EndpointType>Standard</EndpointType>
			<Url>https://idmprodseaaks.prod.datalabs.core.windows.net/</Url>
			<SMEConfig />
			<DstsDelegatedAuth>
				<ServiceName>GenevaAction</ServiceName>
			</DstsDelegatedAuth>
			<Swagger>
				<FilePath>swagger_DataLabs.json</FilePath>
			</Swagger>
			<TargetRegion>Southeast Asia</TargetRegion>
		</Endpoint>
		<Endpoint>
			<Name>SEA_tm_dl_sku</Name>
			<EndpointType>Standard</EndpointType>
			<Url>https://skuprodseaaks.prod.datalabs.core.windows.net/</Url>
			<SMEConfig />
			<DstsDelegatedAuth>
				<ServiceName>GenevaAction</ServiceName>
			</DstsDelegatedAuth>
			<Swagger>
				<FilePath>swagger_DataLabs.json</FilePath>
			</Swagger>
			<TargetRegion>Southeast Asia</TargetRegion>
		</Endpoint>
		<Endpoint>
			<Name>NEU_tm_dl_idm</Name>
			<EndpointType>Standard</EndpointType>
			<Url>https://idmprodneuaks.prod.datalabs.core.windows.net/</Url>
			<SMEConfig />
			<DstsDelegatedAuth>
				<ServiceName>GenevaAction</ServiceName>
			</DstsDelegatedAuth>
			<Swagger>
				<FilePath>swagger_DataLabs.json</FilePath>
			</Swagger>
			<TargetRegion>North Europe</TargetRegion>
		</Endpoint>
		<Endpoint>
			<Name>NEU_tm_dl_sku</Name>
			<EndpointType>Standard</EndpointType>
			<Url>https://skuprodneuaks.prod.datalabs.core.windows.net/</Url>
			<SMEConfig />
			<DstsDelegatedAuth>
				<ServiceName>GenevaAction</ServiceName>
			</DstsDelegatedAuth>
			<Swagger>
				<FilePath>swagger_DataLabs.json</FilePath>
			</Swagger>
			<TargetRegion>North Europe</TargetRegion>
		</Endpoint>
		<Endpoint>
			<Name>EUS_tm_dl_idm</Name>
			<EndpointType>Standard</EndpointType>
			<Url>https://idmprodeusaks.prod.datalabs.core.windows.net/</Url>
			<SMEConfig />
			<DstsDelegatedAuth>
				<ServiceName>GenevaAction</ServiceName>
			</DstsDelegatedAuth>
			<Swagger>
				<FilePath>swagger_DataLabs.json</FilePath>
			</Swagger>
			<TargetRegion>East US</TargetRegion>
		</Endpoint>
		<Endpoint>
			<Name>EUS_tm_dl_sku</Name>
			<EndpointType>Standard</EndpointType>
			<Url>https://skuprodeusaks.prod.datalabs.core.windows.net/</Url>
			<SMEConfig />
			<DstsDelegatedAuth>
				<ServiceName>GenevaAction</ServiceName>
			</DstsDelegatedAuth>
			<Swagger>
				<FilePath>swagger_DataLabs.json</FilePath>
			</Swagger>
			<TargetRegion>East US</TargetRegion>
		</Endpoint>
		<Endpoint>
			<Name>WUS3_tm_dl_idm</Name>
			<EndpointType>Standard</EndpointType>
			<Url>https://idmprodwu3aks.prod.datalabs.core.windows.net/</Url>
			<SMEConfig />
			<DstsDelegatedAuth>
				<ServiceName>GenevaAction</ServiceName>
			</DstsDelegatedAuth>
			<Swagger>
				<FilePath>swagger_DataLabs.json</FilePath>
			</Swagger>
			<TargetRegion>West US 3</TargetRegion>
		</Endpoint>
		<Endpoint>
			<Name>WUS3_tm_dl_sku</Name>
			<EndpointType>Standard</EndpointType>
			<Url>https://skuprodwu3aks.prod.datalabs.core.windows.net/</Url>
			<SMEConfig />
			<DstsDelegatedAuth>
				<ServiceName>GenevaAction</ServiceName>
			</DstsDelegatedAuth>
			<Swagger>
				<FilePath>swagger_DataLabs.json</FilePath>
			</Swagger>
			<TargetRegion>West US 3</TargetRegion>
		</Endpoint>
		<Endpoint>
			<Name>SDC_tm_dl_idm</Name>
			<EndpointType>Standard</EndpointType>
			<Url>https://idmprodsdcaks.prod.datalabs.core.windows.net/</Url>
			<SMEConfig />
			<DstsDelegatedAuth>
				<ServiceName>GenevaAction</ServiceName>
			</DstsDelegatedAuth>
			<Swagger>
				<FilePath>swagger_DataLabs.json</FilePath>
			</Swagger>
			<TargetRegion>Sweden Central</TargetRegion>
		</Endpoint>
		<Endpoint>
			<Name>SDC_tm_dl_sku</Name>
			<EndpointType>Standard</EndpointType>
			<Url>https://skuprodsdcaks.prod.datalabs.core.windows.net/</Url>
			<SMEConfig />
			<DstsDelegatedAuth>
				<ServiceName>GenevaAction</ServiceName>
			</DstsDelegatedAuth>
			<Swagger>
				<FilePath>swagger_DataLabs.json</FilePath>
			</Swagger>
			<TargetRegion>Sweden Central</TargetRegion>
		</Endpoint>
	</SMEEndpoints>
	<SMEConfig/>
	<ContactInfo>
		<ContactEmailAddress>arbtm@microsoft.com</ContactEmailAddress>
		<IcmService>Azure Resource Notifications</IcmService>
		<IcmTeam>Azure Resource Builder</IcmTeam>
		<ServiceTreeServiceId>ce93fb1b-91b9-49ae-bc36-1dcf1af57296</ServiceTreeServiceId>
	</ContactInfo>
	<ApiGatewayConfig>
		<Swagger>
			<FilePath>swagger_empty.json</FilePath>
		</Swagger>
	</ApiGatewayConfig>
</AcisSMEConfiguration>